pip
virtualenvwrapper
pyopenssl
psutil
ndg-httpsclient
attrdict
pyasn1
arrow
celery
elasticsearch_dsl
seaborn
fabric
flask
flasgger
jedi
rope
MySQL-Python
beautifulsoup4
pydal
redisco
textblob
nose
werkzeug
click
prettytable
pika
pyttsx
requests
simplejson
tabulate
csvkit
supervisor
flake8
pep8-naming
redis
Logbook
numpy
pyparsing
tornado
scipy
pytz
python-dateutil
numexpr
bottleneck
jupyter
matplotlib
boto
SQLAlchemy
elasticsearch
nltk
pandas
scikit-learn
minepy
paramiko
PyYAML
Jinja2
httplib2
six
ansible
powerline-status
docker-compose
wharfee
mpld3
bokeh
pygal
gensim
bunch
unidecode
xgboost
