pip
virtualenvwrapper
pyopenssl
ndg-httpsclient
pyasn1
arrow
celery
elasticsearch_dsl
fabric
flask
flasgger
MySQL-Python
pydal
redisco
textblob
nose
werkzeug
click
logbook
prettytable
pika
pyttsx
requests
simplejson
tabulate
csvkit
supervisor
flake
pep8-naming
pyuv
numpy
pyparsing
tornado
scipy
pytz
python-dateutil
numexpr
bottleneck
ipython[all]
matplotlib
boto
SQLAlchemy
statsmodel
scikit-learn
elasticsearch
tables
nltk
pandas
minepy
paramiko
PyYAML
Jinja2
httplib2
six
ansible
powerline-status
docker-compose
wharfee
